label{font-weight:500;font-size:.75rem;line-height:1rem}.input-group{display:flex}.min-max{--tw-text-opacity:1;color:rgba(79,70,229,var(--tw-bg-opacity));font-weight:500;font-size:.75rem;line-height:1rem;display:inline-block;margin-top:.25rem}.details-overlay[open]>summary::before{position:fixed;top:0;right:0;bottom:0;left:0;z-index:40;display:block;cursor:default;content:" ";background:0 0}.details-overlay-dark[open]>summary::before{z-index:40;background:rgba(0,0,0,.5)}.details-reset>summary{list-style:none}.details-reset>summary::before{display:none}.details-reset>summary::-webkit-details-marker{display:none}.dropdown{position:relative}.dropdown-caret{display:inline-block;width:0;height:0;vertical-align:middle;content:"";border-style:solid;border-width:4px 4px 0;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent}.dropdown-menu::after,.dropdown-menu::before{position:absolute;display:inline-block;content:""}.dropdown-menu::after{border:7px solid transparent;border-bottom-color:#e5e7eb}.dropdown-menu>ul{list-style:none}.dropdown-menu-no-overflow{width:auto}.dropdown-menu-no-overflow .dropdown-item{padding:4px 16px;overflow:visible;text-overflow:inherit}.dropdown-item{display:block;padding:4px 8px 4px 16px;overflow:hidden;color:var(--color-fg-default);text-overflow:ellipsis;white-space:nowrap}.dropdown-item:focus,.dropdown-item:hover{color:var(--color-fg-on-emphasis);text-decoration:none;background-color:var(--color-accent-emphasis);outline:0}.dropdown-item:focus>.octicon,.dropdown-item:hover>.octicon{color:inherit;opacity:1}.dropdown-item:focus [class*=color-text-],.dropdown-item:hover [class*=color-text-]{color:inherit!important}.dropdown-item:focus>.Label,.dropdown-item:hover>.Label{color:inherit!important;border-color:currentColor}.dropdown-item.btn-link{width:100%;text-align:left}.dropdown-signout{width:100%;text-align:left;background:0 0;border:0}.dropdown-divider{display:block;height:0;margin:8px 0;border-top:1px solid var(--color-border-default)}.dropdown-header{padding:4px 16px;font-size:12px;color:var(--color-fg-muted)}.dropdown-item[aria-checked=false] .octicon-check{display:none}.dropdown-menu-w{top:0;right:100%;left:auto;width:auto;margin-top:0;margin-right:8px}.dropdown-menu-w::before{top:10px;right:-16px;left:auto;border-color:transparent;border-left-color:var(--color-border-default)}.dropdown-menu-w::after{top:11px;right:-14px;left:auto;border-color:transparent;border-left-color:var(--color-canvas-overlay)}.dropdown-menu-e{top:0;left:100%;width:auto;margin-top:0;margin-left:8px}.dropdown-menu-e::before{top:10px;left:-16px;border-color:transparent;border-right-color:var(--color-border-default)}.dropdown-menu-e::after{top:11px;left:-14px;border-color:transparent;border-right-color:var(--color-canvas-overlay)}.dropdown-menu-ne{top:auto;bottom:100%;left:0;margin-bottom:3px}.dropdown-menu-ne::after,.dropdown-menu-ne::before{top:auto;right:auto}.dropdown-menu-ne::before{bottom:-8px;left:9px;border-top:8px solid var(--color-border-default);border-right:8px solid transparent;border-bottom:0;border-left:8px solid transparent}.dropdown-menu-ne::after{bottom:-7px;left:10px;border-top:7px solid var(--color-canvas-overlay);border-right:7px solid transparent;border-bottom:0;border-left:7px solid transparent}.dropdown-menu-s{right:50%;left:auto;transform:translateX(50%)}.dropdown-menu-s::before{top:-16px;right:50%;transform:translateX(50%)}.dropdown-menu-s::after{top:-14px;right:50%;transform:translateX(50%)}.dropdown-menu-sw{right:0;left:auto}.dropdown-menu-sw::before{top:-16px;right:9px;left:auto}.dropdown-menu-sw::after{top:-14px;right:10px;left:auto}.dropdown-menu-se::before{top:-16px;left:9px}.dropdown-menu-se::after{top:-14px;left:10px}.anim-fade-in{animation-name:fade-in;animation-duration:1s;animation-timing-function:ease-in-out}.anim-fade-in.fast{animation-duration:.3s}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}.anim-fade-out{animation-name:fade-out;animation-duration:1s;animation-fill-mode:forwards;animation-timing-function:ease-out}.anim-fade-out.fast{animation-duration:.3s}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}.anim-fade-up{opacity:0;animation-name:fade-up;animation-duration:.3s;animation-fill-mode:forwards;animation-timing-function:ease-out;animation-delay:1s}@keyframes fade-up{0%{opacity:.8;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}.anim-fade-down{animation-name:fade-down;animation-duration:.3s;animation-fill-mode:forwards;animation-timing-function:ease-in}@keyframes fade-down{0%{opacity:1;transform:translateY(0)}100%{opacity:.5;transform:translateY(100%)}}.anim-grow-x{width:0%;animation-name:grow-x;animation-duration:.3s;animation-fill-mode:forwards;animation-timing-function:ease;animation-delay:.5s}@keyframes grow-x{to{width:100%}}.anim-shrink-x{animation-name:shrink-x;animation-duration:.3s;animation-fill-mode:forwards;animation-timing-function:ease-in-out;animation-delay:.5s}@keyframes shrink-x{to{width:0%}}.anim-scale-in{animation-name:scale-in;animation-duration:.15s;animation-timing-function:cubic-bezier(.2,0,.13,1.5)}@keyframes scale-in{0%{opacity:0;transform:scale(.5)}100%{opacity:1;transform:scale(1)}}.anim-pulse{animation-name:pulse;animation-duration:2s;animation-timing-function:linear;animation-iteration-count:infinite}@keyframes pulse{0%{opacity:.3}10%{opacity:1}100%{opacity:.3}}.anim-pulse-in{animation-name:pulse-in;animation-duration:.5s}@keyframes pulse-in{0%{transform:scale3d(1,1,1)}50%{transform:scale3d(1.1,1.1,1.1)}100%{transform:scale3d(1,1,1)}}.anim-hover-grow,.hover-grow{transition:transform .3s;backface-visibility:hidden}.anim-hover-grow:hover,.hover-grow:hover{transform:scale(1.025)}.anim-rotate{animation:rotate-keyframes 1s linear infinite}@keyframes rotate-keyframes{100%{transform:rotate(360deg)}}
  
  
  .brand-company .row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto auto 25px;
  }
  .brand-company .row .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 2px;
    margin-bottom: 5px;
  }
  .brand-category {
    background-color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #f3f4f6;
  }
  .brand-category .icon {
    color: #4f46e5;
    margin-right: 8px;
    font-size: 20px;
  }
  .blog-btn {
	background-color: #4f46e5 !important;
	border-color: #4f46e5 !important;
}
  .alert {
    background-color: #3bfe1675;
    margin: 15px 0;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,25%);
    position: relative;
  }
  .alert .close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #000;
    color: #fff;
    line-height: 25px;
    border-radius: 100px;
  }
  .alert .close span {
    line-height: 1;
    font-size: 14px;
  }
  .dark .brand-category {
	background-color: #1f2937;
	border-color: #343e4c;
}
  .dark .brand-category .icon i {
	color: #fff;
}
  
.update-content-wrap {
  background-color: #f3f4f6;
  padding: 15px;
}
.id-boxi {
  background-color: #4f46e5;
  width: max-content;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 2px;
}
.update-content-wrap .update {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 8px auto;
  display: block;
}
.update-ser-name {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 1.4;
  margin-bottom: 15px;
}
.update-date {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  text-align: right;
}
  
  
  @media (max-width:550px) {
    .brand-company .row {
      width: 100%;
      margin: auto auto 10px;
    }
    .brand-company .row .col-sm-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .brand-category {
      padding: 5px;
      font-size: 14px;
    }
    .brand-category .icon {
      font-size: 16px;
      margin-right: 4px;
    }
    .ftr-nav {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .sample_links_top_outer {text-align: right;}

  .sample_links 
 a.sample_links_top {
    background: #4f46e5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 100px;
}
        
        .title_form {
    margin-bottom: 18px;
    font-size: 33px;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
}
  .sample_links .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px;
}

.sample_links {
    background-color: #d7f2fd;
    padding: 10px;
  	color:#333;
}

.sample_links ul {list-style: none;padding-left: 35px;}

.sample_links h1 {
    margin: 0 0 10px 0px;
    font-size: 22px;
    font-weight: 600;
}

.sample_links ul li 
{
    font-size: 15px;
    margin: 7px 0px;
    position: relative;
}

.sample_links ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f192";
    position: absolute;
    left: -4%;
}

.sample_links_top_outer {
    text-align: right;
}

.sample_links_top_outer a.sample_links_top {
    background-color: #4f46e5;
    color: #fff;
    padding: 8px;
    font-size: 15px;
    text-decoration: none;
}

.checkout_form input {
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    padding: 25px 10px;
}

.sample_links {
    display: none;
}
.form-group {
    margin-bottom: 15px;
}
.sample_links.show {
    display: block !important;
}  
#servicefilter {
	color: #fff;
	text-align: left;
	padding-left: 38px;
	font-size: 20px;
	position: relative;
  margin-bottom:10px;
  min-width:auto;
      background: #6366f1;
    padding: 10px 30px;
  border-radius:5px;
}
#servicefilter i {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
  .dropdown-menu {
	width: auto;
	background-color: #eee;
	padding: 0;
	border: 0;
  max-height:400px;
  overflow:auto;
}
  .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 8px 10px;
    color: #333;
    text-align: left;
    text-decoration: none !important;
 cursor:pointer;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:focus-visible {
	background-color: #333;
  color:#fff;
}  